//Microsoft Visual C++ generated resource script.
//
#include "resource.h"

IDC_LOTTERYGUI MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "New Lottery Rows", IDM_NEWLOTTE
        MENUITEM "E&xit",                IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About ...",           IDM_ABOUT
    END
END